/*Reader*/
ul {
    list-style-type: none;
}

img {
    display: block;
    margin: 15px auto;
}

code {
    display: block;
    width: 100%;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

blockquote {
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 10px;
}

a {
    color: black;
}

.page {
    display: flex;
    height: 100%;
}

.list {
    height: 95%;
    padding-right: 10px;
    margin-right: 41px;
    position: fixed;
    top: 37px;
    right: 0;
    overflow: auto;
}

.list-root {
}

.list-file {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.list-folder {
}

.list-file, .list-folder {
    margin-left: 10px;
    padding-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
}

.list-folder-title {
    display: block;
    color: white;
    background-color: black;
    background-clip: content-box;
    padding-top: 5px;
    font-weight: bold;
}

.list-file, .list-folder-title {
    font-size: 15px;
}

.list-group {
}

.list-divider {
    height: 100%;
    position: fixed;
    right: 40px;
    border-right-width: 1px;
    border-right-style: solid;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    height: 35px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    margin-left: 75px;
}

.content-divider {
    position: fixed;
    top: 35px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-right: 10px;
}

.content-markdown {
    width: 60%;
    margin-top: 35px;
    margin-right: 55px;
}
/*Reader*/

/*One*/
.one-content {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    /*margin-top: 45px;*/
    max-width: 1030px;
    margin: 35px auto;
}

.one-img {
    max-width: 1000px;
    width: 100%
}

.one-img-title {
    display: block;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    padding-bottom: 5px;
}

.one-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 75px;
    font-weight: bold;
}

.one-text-title {
    display: block;
    margin: 35px auto;
}
/*One*/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-right: solid 3px white;
    border-bottom: solid 8px white;
    background: #000000;
}
